<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('.static',filename='style.css')}}">
</head>
<body>
    <h1>Please select three points over the image.</h1>
    <p>Please remember the order you select the points</p>
    <h2 style="display: none;"id ="txt">9</h2>
    <h2 id ="txt1">9</h2>
    <img id="h" onclick="clickHotspotImage(event);" name="hotspot_image" style="width: 50%" src="data:{{ imga.mime }};base64,{{ image_data_base64 }}" alt="Hotspot image" />
    <form action="/success" method="post">
       <input style="display:none" type="text" name="xy" id="inp">
         <input type="radio" id="easy" name="tol" value="+10">
         <label for="html">+10</label><br>
         <input type="radio" id="diff" name="tol" value="+5">
         <label for="diff">+5</label><br>
         <button type="submit">Create</button>

    </form>
    <script>
         var n = 1
        var xy=document.getElementById("inp");
        function clickHotspotImage(event) {
            var xCoordinate = event.offsetX;
            var yCoordinate = event.offsetY;
            document.getElementById('txt').innerHTML = xCoordinate + ',' + yCoordinate;
            var it=xy.value;
           if(n<=3){
            xy.value=xy.value+xCoordinate + ' ' + yCoordinate+" ";
            document.getElementById('txt1').innerHTML =it.length;
            n=n+1;}
            if(n>3){
                document.getElementById("h").classList.add("a");

            }

        }

       
    </script>
    <style>
        .a{
            opacity: 0.3;
        }
    </style>
</body>
</html>